<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h2>Bye. We will waiting for you</h2>

<a href="/login">
    <button>login</button>
</a>

</body>
</html>