<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h2>You have login - {{.Email}}</h2>

<p>Get people <a href="/people">PEOPLE</a></p>
<p>Get books <a href="/books">BOOKS</a></p>
<a href="/logout">
    <button>logout</button>
</a>

</body>
</html>